BorderPane {
    -fx-background-color: white;
}

#wolfLabel {
    -fx-graphic: url("./sprites/wolf-left-down.png");

}

Button {
    -fx-min-width: 100;
    -fx-min-height: 100;
    -fx-background-radius: 50px;
    -fx-background-color: #db3716;
    -fx-border-radius: 50px;
    -fx-border-width: 6px;
    -fx-border-color: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

Button:hover {
    -fx-background-color: #a61c00;
    -fx-cursor: hand;
}

Button:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

Rectangle {
    -fx-arc-width: 20;
    -fx-arc-height: 20;
    -fx-fill: black;
}

